h1{
    background-color: blue;
    font-variant: small-caps;
}

h6{
    background-color: crimson;
    font-variant: small-caps;
}

ul{
    background-color: black;

    
}

li{
    display: inline;
    margin: 10px;
    padding: 10px;
    color: white;
}