.container1 {
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.container1 > div {
    width: 30vw;
    height: 30vw;
    margin: 10px;
    padding: 10px;
    border: 1px skyblue solid;
    

}


.img1 {
    background-image: url(Assets/images/im3.jpg);
    background-size: cover;
    background-position: center;
}


.img2{
    background-image: url(Assets/images/img1.jpg);
    background-size: cover;
    background-position: center;
}

               
.img3{
    background-image: url(Assets/images/img2.jpg);
    background-size: cover;
    background-position: center;
}

.img4{
    background-image: url(Assets/images/img4.jpg);
    background-size: cover;
    background-position: center;
}

.img5{
    background-image: url(Assets/images/img5.jpg);
    background-size: cover;
    background-position: center;
}

.img6{
    background-image: url(Assets/images/img6.jpg);
    background-size: cover;
    background-position: center;
}

.img7{
    background-image: url(Assets/images/img7.jpg);
    background-size: cover;
    background-position: center;
}

.img8{
    background-image: url(Assets/images/img8.jpg);
    background-size: cover;
    background-position: center;
}


.img9{
    background-image: url(Assets/images/img9.jpg);
    background-size: cover;
    background-position: center;
}



.item:hover{
    border: 3px solid white;

    
}